/* 
    Created on : Oct 11, 2014, 11:27:06 PM
    Author     : gieart
*/
@font-face {
    font-family: wildRide;
    src: url(../../plugins/fonts/wild-ride/WildRide.ttf);
}

@font-face {
    font-family: transformers;
    src: url(../../plugins/fonts/transformers/Transformers.ttf);
}

body{
    background-color: #FFFFFF;
    color: #333;
    /*font-family: 'Roboto',arial,sans-serif;*/
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.56;
    font-weight: 200;
}
a{
    color: #464C59;
}
a:hover{
    color: #A2CE7E;
    text-decoration: none;
}

h1,h2,h3,h4{
    font-weight: 200;
}

/* Form */
input, select, textarea{
    border-radius: 0 !important;
}

.form-control:focus{
    border-color: #8BC25F;
    box-shadow: none;
}



/* Header */
.wrap-header{
    position: absolute;
    width: 100%;
}

.top-header{
    background: none repeat scroll 0 0 #323A45;
    color: #888;
    padding: 10px 0;
}

.top-header a{
    color: #FFF;
    padding: 0 10px;
}

.top-header a:hover{
    color: #A2CE7E;
}

.social{
    text-align: right;
}

.navbar{
    min-height: 75px;
}

.navbar-collapse{
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}

.main-navbar{
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    margin:0;
    top:0;
    width: 100%;
    z-index: 1000;
}

.main-navbar .navbar-brand {
    margin: 0;
}
.main-navbar .navbar-brand i {
    color: #A2CE7E;
    display: inline-block;
    float: left;
    font-size: 35px;
    line-height: 33px;
    margin: 2px 10px 0 0;
}
.main-navbar .navbar-brand a {
    color: #666666;
    display: inline-block;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
    line-height: 34px;
}

.main-navbar .navbar-brand a:hover {
    color: #A2CE7E;
    text-decoration: none;
}

.main-navbar .navbar-nav{
    margin-top: 15px !important;
}

.main-navbar .navbar-nav a{
    border-radius: 4px;
    margin:0 0 0 5px;
    padding: 10px 15px;
    color:#323A45;
}
.main-navbar .navbar-nav .active a, .main-navbar .navbar-nav a:active{
    background: none repeat scroll 0 0 #A2CE7E;
    color: #FFF;
}

.logo{
    font-family: transformers !important;
    font-size: 45px !important;
    line-height: 45px !important;
    color:#A2CE7E !important;    
}


/*landing page*/
.main-content{
    padding-top: 113px;
}

@media (max-width: 768px) {
    .main-content{
        padding-top: 75px !important;
    }
}

section{
    min-height: 500px;
}

.divider{
    height: 100px;
}

.bg-home{
    background: url("../img/slide6_light.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 4);
}
.background-one{
    background: url("../img/slide3_light.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 4);
    background-position: 100% 0;
}
.background-two{
    background: url("../img/slide7_light.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 4);
    background-position: 100% 0;
}

#home{
    height: 500px;
}

#about, #services, #portfolios, #pricing, #blog, #contact{
    padding-top: 100px;
}

/* About */
#about .progress-bar{
    background-color: #A2CE7E;
}



.intro-title{
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 100px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.intro-description{
    margin-top: 50px;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 50px;
    color: #FFF;
}

.intro-overlay{
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: background-color 0.4s ease-in-out 0s;
}

.btn-getting-started{
    background-color: #A2CE7E;
    border-color: #FF3355;
    color: #FFFFFF;
}

.skills-wrapper h3{
    margin-top: 0;
}


.box-services{
    background-color: #FFF;
    padding: 15px;
    margin-bottom: 20px;
}

#footer{
    background: none repeat scroll 0 0 #323A45;
    padding-top: 30px;
    min-height: 200px !important;
    color:  #8A959E;
}

.white-text{
    color: #FFF;
}

.big-title{
    font-size: 30px;
    /*    font-weight: 700;*/
}

.shadow-text{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.icon-large{
    font-size: 80px;
}

.pinky{
    color: #A2CE7E;
}

hr.horizontal-line{
    padding: 0;
    border: none;
    border-top: medium double #A2CE7E;
}

hr.horizontal-line-special {
    padding: 0;
    border: none;
    border-top: medium double #A2CE7E;
    color: #A2CE7E;
    text-align: center;
    font-size: 10px;
}
hr.horizontal-line-special:after {
    content: "&&";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


/* Portfolios */

#portfolios{
    min-height: 400px !important;
    /*height: 400px !important;*/
    margin-bottom: 150px;
}

#portfolios .jcarousel-wrapper {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 20px auto;
    position: relative;
}

.item-box{
    position: relative;
}

.item-box .item-overlay{
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 25%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    border-radius: 6px;
}

.item-box:hover .item-overlay{
    background-color: rgba(0, 0, 0, 0.82);
    opacity: 3;
    transition-duration: 0.6s;
}

.item-overlay{
    font-size: 30px;
}

.item-desc-wrapper{
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.item-desc h4{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

a.jcarousel-control-prev:focus,a.jcarousel-control-next:focus{
    text-decoration: none !important;
    color: #FFF;
}

/* Pricing */
.pricing-box{
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0;
    border-radius: 4px;
    margin-top: 30px;
}

.selected-plan{
    margin-top: 0 !important;
    box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
}

.pricing-box:hover{
    box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
}

.pricing-header{
    padding: 15px 15px;
    text-align: center;
    /*background: #A2CE7E;*/
}

.pricing-header h3{
    border-bottom: 1px dashed #EEEEEE;
    color : #444;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
}

.pricing-price{
    text-align: center;
    margin-top: -30px;
}

.currency{
    color: #555;
    font-size: 20px;
}

.price{
    font-size: 50px;
    font-weight: bold;
}

.period{
    color: #CCC;
    font-size: 16px;
}

.feature-list{
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}

.disabled{
    color: #BBB;
}


.feature-list li{
    border-bottom: 1px solid #F3F3F3;
    padding: 10px;
}

.pricing-footer{
    text-align: center;
    padding: 10px;
}

.pricing-box{
    margin-bottom: 30px;
}

/* Blog */
#blog{
    height: 300px;
}

#blog .carousel-inner{
    height: 300px;
}
#blog .carousel-indicators{
    bottom: -50px !important;
}

#blog .carousel-indicators li{
    border: 1px solid #A2CE7E;
}

#blog .carousel-indicators .active{
    background: #A2CE7E;
}

#blog .carousel-caption{
    position: static;
    text-shadow: none;
    text-align: left;
    color: #44444F;
    font-size: 16px;
}

#blog h3{
    margin-top: 0;
}

/* Button */
.btn-custom{
    color:#ffffff;
    background-color:#A2CE7E;
    border:1px solid;
    border-color: #A2CE7E;
}
.btn-custom:hover{
    color:#ffffff;
    background-color:#8BC25F;
    border-color: #8BC25F;
}

/* Contact */
.map{
    margin-bottom: 20px;
}

/* Footer */
.box-footer{
    font-size:13px;
}

.contact ul{
    list-style:none;
}

.contact ul li{
    margin-left: -40px;	
}

.col-social-icons{
    font-size:30px;
}

.subscribe-form{
    width:100px;
}


/* Blog */
#article{
    background: #EEE;
}

.post{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 80px 140px;
    border-radius: 2px;
    border-width: 1px;
    margin-left: 0;
    margin-right: 0;
    background-color: #FFFFFF;
    border-color: rgba(139, 153, 165, 0.25);
    border-style: solid;
}

@media (max-width: 480px) {
    .post{
        padding: 20px 40px;
    }
    .post-image{
        margin:-20px -40px 30px !important;
    }
}

@media (max-width: 768px) {
    .post{
        padding: 20px 40px;
    }
    .post-image{
        margin:-20px -40px 30px !important;
    }
}

.post-title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}

.post-content{
    color: #44444F;
    font-size: 18px;
    line-height: 1.56;

}
.post-image{
    margin:-81px -141px 80px;
}
.post-image img{
    border-radius: 2px 2px 0 0;
}

.share-buttons{
    list-style: none;
    margin-left: -40px;
    height: 50px;
}

.share-buttons li{
    float: left;
    margin-right: 10px;
}
