#color-option {
    z-index: 9999;
    position: fixed;
    top: 150px;
    width: 212px;
    height: auto;
    padding-bottom: 25px;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    background: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.close-color-option {
    left: -212px;
}

.open-color-option {
    left: -1px;
}

#color-option .colors {
    width: 100%;
    padding: 15px 10px 15px 0;
    padding: 15px 25px;
}

#color-option .colors ul{
    list-style: none;
    margin-left: -40px;
}

#color-option .colors ul li{
    float: left;
    margin-right: 5px;
}

#color-option a.panel-button {
    position: absolute;
    top: 30px;
    right: -50px;
    width: 50px;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 23px;
    line-height: 47px;
    background: white;
    cursor: pointer;
}

#color-option h3 {
    margin: 0;
}

#color-option .colors a.switcher {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 3px;
    border: 1px solid #efefef;
    cursor: pointer;
}

.red {
    background:  #F05557;
}

.orange {
    background: #F78F39;
}

.yellow {
    background: #FBDF29;
}

.green {
    background: #20B698;
}

.grass {
    background: #A2CE7E;
}


.blue {
    background: #38A5DB;
}

.purple {
    background: #9661A8;
}

.pink {
    background: #FF3366;
}


@media(max-width:480px) {
    #color-option {
        top: 100px;
    }
}